<h2>Creating a new post in <%= @region.name %></h2>
<%= render "error_messages", target: @post %>
<%= form_for [@region, @post] do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <br>
  <%= form.label :body %>
  <%= form.text_area :body %>
  <br>
  <%= form.label :image_url %>
  <%= form.text_field :image_url %>
  <br>
  <%= form.collection_check_boxes(:category_ids, @categories, :id, :name) %>
  <%= form.submit %>
<% end %>
