<% if @post.user.id == current_user.id || current_user.admin? %>
  <%= button_to "Delete this post", {id: @post.id}, {method: :delete} %>
<% end %>
<%= button_to "Mark as Spam", {id: @post.id, post: {spam: true}}, {method: :patch} %>
<h3><%= render "users/link", user: @post.user %> writes: </h3>
<h4><strong><%= @post.title %></strong></h4>
<h5><%= @post.body %></h5>
<%= image_tag default_image(@post.image_url) %>
<h5>
  <% if @post.user.id == current_user.id %>
    <%= link_to "Edit Post", edit_region_post_path(@region, @post) %>
  <% end %>
</h5>
